@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap%27');

* {
  font-family: 'Poppins', sans-serif;
  
}
body {
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(120deg, rgba(25, 127, 243, 0.364) 0%, rgba(143, 162, 244, 0.398) 100%), url(../imagenes/fondo2.avif);

}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}



.color {
  color: rgb(15, 15, 15) !important;
}

.color:hover {
  border-bottom: 1px solid black;
  font-size: 105%;
}

.active {
  color: rgb(187, 189, 190) !important;
}

#nav {
  width: 100%;
  position: absolute;
}

#icono {
  margin-right: 0.5rem;
}

#icono2 {
  color: white;
}

#hamburguesa {
  margin-left: 80%;
  color: black !important;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

#active {
  color: rgba(107, 209, 226, 1) !important;
  font-weight: bold;
}

#text-hover:hover,
#icono2:hover {
  color: rgba(182, 241, 246, 1) !important;
}
#contenedor-tabla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 4% 2%;
 
  width: 80%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  width: 80%;
  height: 64%;
  margin-top: 12%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: rgba(68, 159, 175, 0.69) !important;

  color:white;
}
.card-inner{
  display: flex;
  gap: 15%;
  padding-top: 5%;
  
}
.card-inner h3{
  margin-left: -5%;  
}
.card .card-inner h1{
  text-align: center;
}
.icon-card{
  font-size: 80px;
  
  height: 90% !important;
  
}





@media (max-width: 991.98px) {
  #navbarsExample04 {
    position: absolute;
    top: 100%;
    right: 5%;
    left: auto;
    z-index: 1;
  }
}

@media (max-width: 575px) {
  @media (max-width: 575px) {
    body{
      background-image: linear-gradient(120deg, rgba(25, 127, 243, 0.364) 0%, rgba(143, 162, 244, 0.398) 100%), url(../imagenes/fondo2.avif);
      background-repeat: no-repeat;
      background-size: cover;
    }
    #contenedor-tabla {
      grid-template-columns: 1fr;
      
    }
  
    .card {
      width: 80%;
      margin: 12% 10%;
    }
  }
}