.imagen {
    display: grid;
    grid-column: span 3;
}
#img {
    width: 10%;
    display: grid;
    border: #212121 solid 2px;
    margin-left: 55px;
}
.tb-horario{
   margin: 2% 2% 2% 8%;
    border-collapse:collapse;
    width: 100%;
    box-shadow: 0 0 5px rgba(58, 53, 53, 0.781);
}
th{
    background-color: #2196F3;
    padding-top: 12px;
    padding-bottom: 12px;
}
td{
    padding: 8px;
    border: 1px solid #b8b8b8;
}
