@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap%27');
*{
    font-family:  'Poppins', sans-serif;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-image: linear-gradient(120deg, rgba(25, 127, 243, 0.364) 0%, rgba(143, 162, 244, 0.398) 100%), url(../imagenes/fondo2.avif);
  
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
#sidebar{
  background-color: rgba(30, 101, 139, 0.402) !important;
}
.color {
  color: rgb(15, 15, 15) !important;
}

.color:hover {
  border-bottom: 1px solid black;
  font-size: 105%;
}

.active {
  color: rgb(187, 189, 190) !important;
}
#nav{
  width: 100%;
  position: absolute;
}
#icono {
  margin-right: 0.5rem;
}
#icono2{
  color: white;
}
#hamburguesa{
  margin-left: 80%;
  color: black !important;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

#active{
  color: rgba(107,209,226,1) !important;
  font-weight: bold;
}

#text-hover:hover,#icono2:hover{
  color: rgba(182,241,246,1) !important;
}
@media (max-width: 991.98px) {
  #navbarsExample04 {
    position: absolute;
    top: 100%;
    right: 5%;
    left: auto;
    z-index: 1;
  }
}
