#contenedor-tabla {
	
	width: 40%;
	align-items: center;
}

::placeholder,
select {
	color: #fff !important;
	font-size: 60%;
}

#icon-register {
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	font-size: 200%;
	text-align: center;
}

.shadow-text {
	color: white;
	text-shadow: 1px 1px 2px rgba(20, 51, 81, 0.716) !important;
}

input[type=text],
[type=password],
select,
[type=email] {
	width: 350px !important;
	height: 40px;
	background: transparent !important;
	color: #eeeeee;
	border: 2px solid rgba(255, 255, 255, 0.6) !important;
	
	font-size: 20px;
	font-weight: 500;
	outline: none;
	text-shadow: 1px 1px 2px rgba(20, 51, 81, 0.716) !important;
}

option {
	background-color: rgba(34, 34, 34, 0.306);
	color: black;
	text-align: center;
}

#button-register {
	margin-left: 30%;
	align-self: center !important;
	background: #ffffff36;
	border: 1px solid #fff;
	cursor: pointer;
	
	color: #2166b0;
	font-size: 16px;
	font-weight: 400;
}

#button-register:hover {
	opacity: 0.5;
}

#button-register:active {
	opacity: 0.6;
}

#button-register:focus {
	outline: none;
	border: 1px solid rgba(159, 34, 34, 0.9);
}

.form-control {
	text-align: center !important;
}

.min-text {
	width: 105%;
}
