.imagen {
    display: grid;
    grid-column: span 3;
}
#img {
    width: 10%;
    display: grid;
    border: #212121 solid 2px;
    margin-left: 55px;
}
#tb-1{
    grid-column: 2/4;
    border-collapse: collapse;
    margin: -5% 15% 0 20%;
    align-items: center;
    font-size: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    background-color: #2196F3;
    padding: 10px;
}
table td {
    text-align: center;
    border: #212121 solid 1px;
    background-color: white;
    border-collapse: collapse;
}
.aside {
    margin-left: 33% !important;
}   

